.main {
  background-color: #fff2f4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  padding: 40px 60px;
  .logo {
    display: flex;
    align-items: center;
    margin: -20px 0;
    h1 {
      color: #ff5791;
    }
  }
  form {
    width: 50%;
    .date-container {
      width: 100%;
      height: 30px;
      &.selected {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          width: 30px;
          height: 30px;
          background-color: red;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
@include mobile {
  .main {
    padding: 20px 30px;
    form {
      width: 100%;
    }
  }
}
