.main {
    background-color: #fff2f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 40px 60px;

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            margin-top: -10px;
            margin-bottom: 20px;
            color: #ff5791;
            text-transform: capitalize;
            text-decoration: underline;
            font-weight: 600;

            @include mobile {
                margin: 20px;
            }
        }

        span {

            display: flex;
            align-items: center;


            margin: -20px 0;

            h1 {
                color: #ff5791;
            }

            @include mobile {
                flex-direction: column;

                img {
                    height: 150px;
                }

            }
        }
    }

    form {
        width: 75%;

        section:not(:last-child) {
            border-bottom: 1px solid #ff579133;
            margin-bottom: 40px;

            div.flow {
                display: flex;
                flex-flow: row nowrap;
                gap: 16px;

                &-column {
                    flex-flow: column nowrap;
                }

                >* {
                    width: 100%;
                }
            }
        }

        .date-container {
            width: 100%;
            height: 30px;

            &.selected {
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    width: 25px;
                    height: 25px;
                    background-color: #afccff9e;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: rgb(168, 168, 168);
                }
            }
        }

        .ant-checkbox {
            span {
                &.ant-checkbox-inner {
                    background-color: #FFCADC44;
                }
            }

            &-checked {
                span {
                    &.ant-checkbox-inner {
                        background-color: #ff5791;
                    }
                }
            }
        }

        #social {
            background: none;
        }

        .ant-form-item-row {
            height: 100%;

            .ant-form-item-control-input {
                height: 100%;

                .ant-form-item-control-input-content {
                    height: 100%;

                    #extra {
                        height: 100%;
                    }
                }
            }
        }
    }
}

@include mobile {
    .main {
        padding: 20px 30px;

        form {
            width: 100%;

            section:not(:last-child) {
                border-bottom: 1px solid #ff579133;
                margin-bottom: 40px;

                div.flow {
                    flex-flow: column;
                }
            }
        }
    }
}